.bottom_bg {
  background: url("../../static/images/subscribe-bg.png") no-repeat center top;
  padding: 10rem 10px;
  text-align: center;
  color: white;
  margin-bottom: 8rem;
  p {
    font-size: 15px;
  }
  h3 {
    font-size: 30px;
    font-weight: 700;
  }
}
.container_form {
  margin-top: 30px;
  button {
    font-weight: 500;
    color: #333;
    font-size: 14px;
    line-height: 42px;
    margin-left: 20px;
    border-radius: 4px;
    background-color: white;
    outline: none;
    padding: 0 30px;
    cursor: pointer;
  }
  input {
    padding: 10px 20px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid white;
    box-sizing: border-box;
    max-width: 350px;
    width: 100%;
    &[type=email] {
      color: white;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }
}
.author_info {
  a {
    margin-bottom: 20px;
    &:hover {
      color: #4856d7;
    }
  }
  p {
    margin-bottom: 0;
  }
  h5 {
    margin-bottom: 0;
  }
}
.social_menu {
  svg {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: 0 20px;
    &:hover path {
      fill: #874ee9;
    }
  }
  margin: 15px 0;
}

//media
@media only screen and (max-width: 767px) {
  .container_form {
    button {
      margin-left: 0;
      margin-top: 3.2rem;
    }
  }
  .bottom_bg {
    padding: 5rem 20px;
    margin-bottom: 5rem;
  }
}
