.main_section_title {
    font-size: 38px;
    font-weight: 700;
}
.main_section_description {
    color: #959595;
}
.title_container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}